<%= form_with(model: competitor, local: true) do |form| %>
  <% if competitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(competitor.errors.count, "error") %> prohibited this competitor from being saved:</h2>

      <ul>
      <% competitor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :team %>
    <%= form.text_field :team, id: :competitor_team %>
  </div>

  <div class="field">
    <%= form.label :belt %>
    <%= form.text_field :belt, id: :competitor_belt %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: :competitor_age %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
